// Variables

// Main color
$primary-color: #ededed;

// Anchor color
$secondary-color: #4099ff;

// Font colors
$font-color: #1f1f1f;
$font-color2: #000000;

$navbar-text-shadow: false;
$header-text-shadow: false;
$header-background-color: $primary-color;
$intro-text-color: $font-color2;
$navbar-color: $font-color;
$navbar-lg-collapse-background-color: $header-background-color;
$navbar-lg-background: transparent;
$navbar-sm-background-color: $navbar-lg-collapse-background-color;

$social-buttons-color: $secondary-color;
